<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Spot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="text-secondary px-4 py-5 text-center">
            <div class="py-5">
              <h1 class="display-5 fw-bold">Blog Spot</h1>
              <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">Welcome to the blog spot! A place to come share your thoughts freely. Also look around engagement in the comments and category groups coming soon. Have a question? feel free to contact us. </p>
                <div class="d-sm-flex justify-content-sm-center">
                  <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Contact Us</button>
                </div>
              </div>
            </div>
          </div>
    </header>

    <section class="section">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>

</body>
</html>