{% extends 'blog/base.html' %}


{% block content %}
<a href="/">Back Home</a>
<h2 class="mb-4 display-5 fw-bold text-center text-info">{{post.title}}</h2>
<br>
<p class="blog-post-meta">{{post.date_added}} by <a href="#">thejayadad</a></p>

<p>{{post.intro}}</p>
<blockquote>
  <p>{{post.body}}</p>
</blockquote>
<p>Be respectful in the party below :-)</p>

<!-- Cooment Form -->

<br>
<h4 class="text-info">Add Comment</h4>
<form method="post" action="." style="max-width: 400px;">
   {% csrf_token %}

    {{ form.as_p }}
      <button type="submit" class="align-center btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Post</button>
    </form>

<br>
<h4 class="text-secondary">Comments</h4>
<div class="list-group w-auto">

{% for comment in post.comments.all %}
<a href="#" class="list-group-item list-group-item-action d-flex gap-3 mb-3 py-3 border-secondary" aria-current="true" style="background-color: black;">
    <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0"><strong>{{ comment.name }}</strong></h6>
          <p class="mb-0 opacity-75">{{ comment.body }}</p>
        </div>
        <small class="opacity-50 text-nowrap">{{ comment.date_added }}</small>
      </div>
</a>
{% empty %}
<div class="notification">
    <h1 class="text-warning">Be First to Comment</h1>
</div>
{% endfor %}
</div>
{% endblock %}

